//advantage, helix
#collection-58c1ade037c581ac65ceead6, #collection-58c1d2beb8a79bc99bfe5f19{
  	.Index-page{
	    display:flex;
	    align-items:center;
	    min-height:70vh !important;
		.Index-page-content{
			.image-card.sqs-dynamic-text-container{
				opacity:0;
			}
		}
	}
	.Index-page:last-child{
		.Index-page-content{
			opacity:0;
		}		
	}
}

//sonnen
#collection-58c204a0440243d83e88e96f{
  	.Index-page{
		.Index-page-content{
			.image-card.sqs-dynamic-text-container{
				opacity:0;
			}
		}
	}
	.Index-page:last-child{
		.Index-page-content{
			opacity:0;
		}		
	}
}

//advantage page content
#solid-copper-solid-results, #low-bills-meet-high-design, #the-hardest-working-system-under-the-sun, #get-the-industrys-best-warranty, #technical-specifications{
	.Index-page-content{
		opacity:0;
	}
}