@stemColor: 15;
@brand-color:hsl(@stemColor, 85%, 52%);
@dark:hsl(@stemColor, 85%, 42%);
@light: hsl(@stemColor, 95%, 86%);
@cta: @brand-color;
@cool: hsl(@stemColor + 175, 30%, 93%);
@lightGrey: #F3F3F3;

@mobile-break: 768px;